@page "/CatalogPage"
@page "/CatalogPage/{ProductId:int}"

@using MyShop

@inject ICatalog Catalog
@inject ICartForShop Cart

<h3>Catalog</h3>
@for (int i = 0; i < _catalog.Count; i++)
{
    var j = i;
    <p>@_catalog[i].Name - <img src="@_catalog[i].Image" alt=""/><button @onclick="() => AddToBasket(j)">Add</button></p>
}

<br/>
<p>Your cart: </p>
@if (_cart.Count > 0)
{
    @foreach (var product in _cart)
    {
        <p>@product.Name: @product.Price - <img src="@product.Image" alt=""/></p>
    }
}

@code {
    private IReadOnlyList<Product>? _catalog;
    private IReadOnlyList<Product>? _cart { get; set; }

    [Parameter]
    public int ProductId { get; set; }
    
    public Product Product { get; set; }
    
    protected override void OnInitialized()
    {
        _catalog = Catalog.GetProducts();
        _cart = Cart.GetCart();

        Product = Catalog.GetProduct(ProductId);
    }

    private void AddToBasket(int i)
    {
        Cart.AddToCart(_catalog[i]);

        _cart = Cart.GetCart();
    }
}